<h1>Create Ejemplo</h1>
<form name="myForm">
<div class="form-group">
    <mat-label>Name: </mat-label><tr></tr>

    <input name="name" type="text" class="form-control" [(ngModel)]="name">   

</div>
<tr></tr>
<div class="form-group">
    <mat-label>Last Name: </mat-label><tr></tr>

    <input name="lastname" type="text" class="form-control" [(ngModel)]="lastName">   

</div>
<tr></tr>
<div class="form-group">
    <mat-label>DNI: </mat-label><tr></tr>

    <input name="DNI" type="text" (keypress)="numberOnly($event)" class="form-control" [(ngModel)]="DNI" placeholder="Enter your DNI of 13 digits">   
</div>
<tr></tr>
<div class="form-group">
    <mat-label>Phone Number: </mat-label><tr></tr>

    <input name="phoneNumber" type="number" class="form-control" [(ngModel)]="phoneNumber" placeholder="Enter your phone Number of 8 digits">   
</div>
<tr></tr>
<div class="form-group">
<label for="singleSelect"> Select your Native City: </label><br>
<select name="city" width="8" class="form-control" id="allocation-algorithm" 
[(ngModel)]="selectedCity">
      <option *ngFor="let option of city" [value]="option.id">{{option.description}}</option>    
</select>
</div>
</form>
<mat-card-actions>
    

    <button mat-raised-button color="warn" mattooltip="df" type="button" (click)="cancel()">
        <i class='fa fa-times fa-fw'></i> Cancel
    </button>
    <button mat-raised-button color="accent" class="marginButton" mattooltip="df" type="button" (click)="create()"
        >
        <i class='fa fa-save fa-fw'></i> Save
    </button>
</mat-card-actions>